
body{
  font-family: roboto, sans-serif;
}
.navbar{
  background-color: orangered;
}
.nav .nav-link.active{
  background-color: white;
  color: orangered;
}
.nav .nav-link ,
.navbar-brand,
.navbar-brand:hover{
  color: white;

}
.navbar-brand{
  font-family: pacifico, cursive;
}
.navbar-toggler{
  background-color: aliceblue;
}
.section-title{
  font-family: pacifico;
}
.section-title span{
  color: orangered;
}
#sobre-o-restaurante{
  background-color: antiquewhite;
}